.orders-container {
  margin-top: 100px;
  margin-left: 140px;
}

.btn-proceed {
  background: #ff9900;
  width: 90%;
  height: 56px;
  font-weight: 400;
  font-size: 21px;
  margin: 10px auto;
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
